Repository jenkins-x/go-scm, pull requests merged in 2020-12, with the labels that each got.

#209 fix: avoid failing on bitbucket cloud if we have no collaborators / labels
  scm/driver/bitbucket/repo.go
Labels: approved, lgtm, size/XS

#208 fix: use correct description json encoding for releases
  scm/driver/fake/release.go
  scm/driver/github/release.go
  scm/driver/github/testdata/release.json.golden
  scm/driver/github/testdata/releases.json.golden
Labels: approved, lgtm, size/S

#204 Pass status code on http error
  scm/driver/bitbucket/bitbucket.go
  scm/driver/bitbucket/repo_test.go
  scm/driver/github/github.go
  scm/driver/gitlab/gitlab.go
  scm/driver/gitlab/repo_test.go
  scm/driver/gitlab/user_test.go
Labels: approved, lgtm, ok-to-test, size/S

#206 fix: Gitlab pullrequests populates fork field
  scm/driver/gitlab/pr.go
  scm/driver/gitlab/pr_test.go
  scm/driver/gitlab/testdata/merge.json.golden
  scm/driver/gitlab/testdata/merges.json.golden
  scm/driver/gitlab/testdata/pr_create.json.golden
Labels: approved, ok-to-test, size/M

#210 fix: Gitlab commits include url in `link` field
  scm/driver/github/integration/git_test.go
  scm/driver/gitlab/git.go
  scm/driver/gitlab/integration/git_test.go
Labels: approved, lgtm, ok-to-test, size/XS

#213 fix: set correct value for Repository.Link when using gitlab
  scm/driver/gitlab/repo.go
  scm/driver/gitlab/testdata/merge.json.golden
  scm/driver/gitlab/testdata/merges.json.golden
  scm/driver/gitlab/testdata/pr_create.json.golden
  scm/driver/gitlab/testdata/repo.json.golden
  scm/driver/gitlab/testdata/repos.json.golden
Labels: approved, lgtm, ok-to-test, size/S

#212 CompareCommits for diff between 2 commits
  scm/client.go
  scm/driver/bitbucket/git.go
  scm/driver/bitbucket/git_test.go
  scm/driver/fake/git.go
  scm/driver/gitea/git.go
  scm/driver/gitea/git_test.go
  scm/driver/github/git.go
  scm/driver/github/git_test.go
  scm/driver/github/integration/git_test.go
  scm/driver/github/integration/github_test.go
  scm/driver/gitlab/git.go
  scm/driver/gitlab/git_test.go
  scm/driver/gitlab/integration/git_test.go
  scm/driver/gitlab/integration/gitlab_test.go
  scm/driver/gitlab/testdata/compare.json
  scm/driver/gitlab/testdata/compare.json.golden
  scm/driver/gitlab/util.go
  scm/driver/gogs/git.go
  scm/driver/gogs/git_test.go
  scm/driver/stash/git.go
  scm/driver/stash/git_test.go
  scm/driver/stash/util.go
  scm/git.go
Labels: approved, lgtm, ok-to-test, size/L

#214 Gitea push hook additional fields
  .gitignore
  scm/driver/gitea/testdata/webhooks/push.json.golden
  scm/driver/gitea/webhook.go
Labels: approved, lgtm, ok-to-test, size/M
