Repository jenkins-x/go-scm, pull requests merged in 2021-06, with the labels that each got.

#284 fix: bitbucket oauth flow fixed
  scm/factory/factory.go
Labels: approved, lgtm, ok-to-test, size/M

#286 feat: Bitbucket cloud PR comment support
  scm/driver/bitbucket/org.go
  scm/driver/bitbucket/pr.go
  scm/driver/bitbucket/testdata/pr_create.json
  scm/driver/bitbucket/testdata/pr_create.json.golden
  scm/driver/bitbucket/testdata/pulls.json
  scm/driver/bitbucket/testdata/pulls.json.golden
  scm/driver/bitbucket/webhook.go
Labels: approved, lgtm, ok-to-test, size/L

#287 fix: config-updater not work with gitlab
  scm/driver/gitlab/testdata/webhooks/pull_request_merge.json.golden
  scm/driver/gitlab/webhook.go
Labels: approved, lgtm, ok-to-test, size/XS
