Repository jenkins-x/go-scm, pull requests merged in 2021-04, with the labels that each got.

#264 fix: Enhance bitbucket driver support
  scm/driver/bitbucket/repo.go
Labels: approved, lgtm, ok-to-test, size/M

#265 fix: support archived flag for github
  scm/driver/github/repo.go
  scm/repo.go
Labels: approved, lgtm, size/XS

#266 chore: update code.gitea.io/sdk/gitea to v0.14.0
  go.mod
  go.sum
Labels: approved, lgtm, ok-to-test, size/S

#267 fix: add webhook GUID for comments
  scm/driver/gitea/testdata/webhooks/issue_comment_created.json.golden
  scm/driver/gitea/testdata/webhooks/pull_request_comment_created.json.golden
  scm/driver/gitea/testdata/webhooks/push.json.golden
  scm/driver/gitea/webhook.go
  scm/driver/github/testdata/webhooks/issue_comment.json.golden
  scm/driver/github/testdata/webhooks/pr_comment.json.golden
  scm/driver/github/webhook.go
  scm/driver/gogs/testdata/webhooks/issue_comment_created.json.golden
  scm/driver/gogs/testdata/webhooks/pull_request_comment_created.json.golden
  scm/driver/gogs/testdata/webhooks/push.json.golden
  scm/driver/gogs/webhook.go
  scm/driver/stash/testdata/webhooks/pr_comment.json.golden
  scm/driver/stash/testdata/webhooks/push.json.golden
  scm/driver/stash/webhook.go
  scm/driver/stash/webhook_test.go
  scm/webhook.go
Labels: approved, lgtm, ok-to-test, size/L

#268 fix: Adding required payload to merge requests
  scm/driver/bitbucket/pr.go
Labels: approved, lgtm, ok-to-test, size/S

#270 fix: improve fake driver
  scm/driver/fake/fake.go
  scm/driver/fake/repo.go
  scm/driver/fake/repo_test.go
  scm/driver/fake/test_helpers.go
  scm/factory/examples/repo/main.go
  scm/util.go
Labels: approved, lgtm, size/L

#273 feat: add gitlab issue hook support
  scm/driver/gitlab/testdata/webhooks/issue_comment_create.json.golden
  scm/driver/gitlab/webhook.go
  scm/driver/gitlab/webhook_test.go
Labels: approved, ok-to-test, size/L

#274 fix: Update webhook.go
  scm/driver/gitlab/webhook.go
Labels: approved, lgtm, ok-to-test, size/XS

#276 fix: Fix errors with creating status to gitlab
  scm/driver/gitlab/repo.go
  scm/driver/gitlab/repo_test.go
Labels: approved, ok-to-test, size/S

#277 fix: release webhook support
  scm/driver/fake/release.go
  scm/driver/gitea/release.go
  scm/driver/gitea/testdata/webhooks/release.json
  scm/driver/gitea/testdata/webhooks/release.json.golden
  scm/driver/gitea/webhook.go
  scm/driver/gitea/webhook_test.go
  scm/driver/github/release.go
  scm/driver/github/testdata/release.json.golden
  scm/driver/github/testdata/releases.json.golden
  scm/driver/github/testdata/webhooks/release.json.golden
  scm/driver/github/webhook.go
  scm/driver/gitlab/testdata/webhooks/release.json
  scm/driver/gitlab/testdata/webhooks/release.json.golden
  scm/driver/gitlab/webhook.go
  scm/driver/gitlab/webhook_test.go
  scm/driver/gogs/release.go
  scm/driver/gogs/testdata/webhooks/release.json
  scm/driver/gogs/testdata/webhooks/release.json.golden
  scm/driver/gogs/webhook.go
  scm/driver/gogs/webhook_test.go
  scm/pr.go
  scm/release.go
  scm/webhook.go
Labels: approved, lgtm, ok-to-test, size/XL

#278 feat: create hooks with release events
  scm/driver/gitea/repo.go
  scm/driver/gitea/repo_test.go
  scm/driver/github/repo.go
  scm/driver/github/repo_test.go
  scm/driver/gitlab/repo.go
  scm/driver/gogs/repo.go
  scm/driver/gogs/repo_test.go
  scm/repo.go
Labels: approved, lgtm, ok-to-test, size/M

#279 fix: add webhook GUID for bitbucketcloud
  scm/driver/bitbucket/testdata/webhooks/push.json.golden
  scm/driver/bitbucket/testdata/webhooks/push_branch_create.json.golden
  scm/driver/bitbucket/testdata/webhooks/push_tag_create.json.golden
  scm/driver/bitbucket/webhook.go
  scm/driver/bitbucket/webhook_test.go
Labels: approved, lgtm, ok-to-test, size/S
