Repository jenkins-x/go-scm, pull requests merged in 2022-10, with the labels that each got.

#321 fix: Expose full GitHub status list
  scm/driver/github/repo.go
  scm/driver/github/testdata/statuses.json.golden
Labels: approved, size/S, ok-to-test

#330 fix: implement fake pr close
  scm/driver/fake/pr.go
  scm/driver/fake/pr_test.go
Labels: approved, size/M, ok-to-test, lgtm

#301 fix: GH-300
  scm/driver/gitlab/testdata/webhooks/pull_request_close.json
  scm/driver/gitlab/testdata/webhooks/pull_request_comment_create.json
  scm/driver/gitlab/testdata/webhooks/pull_request_create.json
  scm/driver/gitlab/testdata/webhooks/pull_request_edited.json
  scm/driver/gitlab/testdata/webhooks/pull_request_merge.json
  scm/driver/gitlab/testdata/webhooks/pull_request_reopen.json
  scm/driver/gitlab/webhook.go
Labels: approved, size/S, ok-to-test, lgtm

#355 fix: flanky force_remove_source_branch type
  scm/driver/gitlab/testdata/webhooks/pull_request_comment_create.json
  scm/driver/gitlab/testdata/webhooks/pull_request_edited.json
  scm/driver/gitlab/testdata/webhooks/pull_request_reopen.json
  scm/driver/gitlab/webhook.go
Labels: approved, size/S, ok-to-test
