Repository jenkins-x/go-scm, pull requests merged in 2022-05, with the labels that each got.

#325 fix: remove resource request from step template
  .lighthouse/jenkins-x/lint.yaml
  .lighthouse/jenkins-x/pullrequest.yaml
  .lighthouse/jenkins-x/release.yaml
Labels: approved, size/S

#324 fix: implement fake scm driver's pull request update command
  scm/driver/fake/pr.go
Labels: approved, size/M, ok-to-test

#326 Fix the organization list API of bitbucket
  scm/driver/bitbucket/org.go
  scm/driver/bitbucket/testdata/workspace.json
  scm/driver/bitbucket/testdata/workspace.json.golden
  scm/driver/bitbucket/testdata/workspaces.json
  scm/driver/bitbucket/testdata/workspaces.json.golden
Labels: approved, size/S, ok-to-test, lgtm

#328 fix: fake pull request list handles most opts
  scm/driver/fake/pr.go
  scm/driver/fake/pr_test.go
Labels: approved, size/L, ok-to-test

#327 Add repositories list in an organization for bitbucket
  scm/driver/bitbucket/repo.go
  scm/driver/bitbucket/repo_test.go
  scm/driver/bitbucket/testdata/repos-single.json.golden
Labels: approved, size/M, ok-to-test

#329 Support list organisation for stash
  scm/driver/stash/repo.go
  scm/driver/stash/repo_test.go
Labels: approved, size/M, ok-to-test, lgtm
